<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="datasource.properties"/>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="safeResultHandlerEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useActualParamName" value="true"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <!--<plugins>
        <plugin interceptor="com.jackson.plugins.CustomerInterceptor"/>
    </plugins>-->

    <!--<typeAliases>
        <typeAlias type="com.jackson.entity.User" alias="user"/>
    </typeAliases>-->

    <objectFactory type="org.apache.ibatis.reflection.factory.DefaultObjectFactory"/>

    <objectWrapperFactory type="org.apache.ibatis.reflection.wrapper.DefaultObjectWrapperFactory"/>

    <reflectorFactory type="org.apache.ibatis.reflection.DefaultReflectorFactory"/>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/jackson/mapper/UserMapper.xml"/>
    </mappers>

</configuration>