<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jackson.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.jackson.entity.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="profession" jdbcType="VARCHAR" property="profession"/>
        <result column="createDate" jdbcType="DATE" property="createDate"/>
        <result column="updateDate" jdbcType="DATE" property="updateDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, age, sex, profession, createDate, updateDate
    </sql>

    <insert id="insert" parameterType="com.jackson.entity.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_user(name, age, sex, profession, createDate, updateDate)
        values (#{name}, #{age}, #{sex}, #{profession}, #{createDate}, #{updateDate})
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByIdCollection" resultMap="BaseResultMap" parameterType="java.util.Collection">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id in
        <foreach collection="collection" item="id" index="index" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </select>
</mapper>