<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-ioc-pojo.xml"/>

    <bean id="userDao" class="com.jackson.ioc.dao.impl.UserDaoImpl">
        <property name="userList">
            <list>
                <ref bean="student"/>
                <ref bean="teacher"/>
            </list>
        </property>
    </bean>

    <bean id="userService" class="com.jackson.ioc.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>